$bgPreto: linear-gradient(90deg, #000000 0%, #000000 100%);

page-login {

.boxLogin {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    flex-direction: column;
    width: 265px;
    height: 237px;
}

ion-list{
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    box-sizing: border-box; /* Faz que o padding funcione internamente */
}

.text {
    width: 259px;
    height: 40px;
    background: #C4C4C4;
    border-radius: 10px;
    margin: 2rem 0;
}

.text2{
    width: 259px;
    height: 40px;
    background: #000000;
    border-radius: 10px;
}

button{
    background: $bgPreto;
    }

.p1{
    width: 204px;
    height: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.p2{

width: 161px;
height: 21px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #6C63FF;
}

.p3{

width: 115px;
height: 18px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
/* identical to box height */

display: flex;
align-items: center;

color: #000000;
}
}



