$bgPreto: linear-gradient(90deg, #000000 0%, #000000 100%);

page-evento1 {

.boxEvento {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 360px;
    height: 300px;
}

ion-list{
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    box-sizing: border-box; /* Faz que o padding funcione internamente */
}

.text{
    width: 321px;
    height: 40px;
    background: #000000;
    border-radius: 10px;
}

button{
    background: $bgPreto;
    }

.p1{
    width: 52px;
    height: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    color: #4D8AF0;
}

.p2{

width: 169px;
height: 15px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */
display: flex;
color: #000000;
}

.p3{

width: 321px;
height: 153px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
/* identical to box height */
display: flex;
align-items: center;
text-align: left;
color: #757575;
}

.p4{

width: 43px;
height: 16px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
/* identical to box height */
display: flex;
align-items: center;
color: #212121;

}
}

